<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>
		{{ if .Site.Params.header.enable }}
			{{ partial "header.html" . }}
		{{ end }}

		{{ range split .Params.sections "," }}
			{{ $section := split . "|" }}
			{{ $sectiontype := index $section 0 }}
			{{ $sectionname := index $section 1 }}
			{{ $path := $sectiontype | printf "%s.html" }}
			{{ $sectionlang := index $.Site.Data "sections" }}
			{{ $sectiondata := index $sectionlang $sectiontype }}
			{{ $blockdata := index $sectiondata $sectionname }}
			{{ partial $path $blockdata }}
		{{ end }}

		{{ if .Site.Params.footer.enable }}
			{{ partial "footer.html" . }}
		{{ end }}

		{{ partial "js-libs.html" . }}
	</body>
</html>