/*--
  Page content
--*/
.page-content {
  display: block;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-right: 30%;
  margin-left: 20%;
}

.page-content h2 {
  margin-top: 30px;
}

.page-content p {
  margin: 5px;
}

.page-content ul {
  list-style-type: upper-roman;
  margin-left: 30px;
}

/*--
  General styling
--*/

.centered {
  text-align:center;
}

h2 {
  font-size: 200%;
  font-weight: 400;
}
h3 {
  font-size: 180%;
  font-weight: 300;
}
p {
  line-height: 180%;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
.section-title {
  margin-bottom: 10%;
  text-align:center;
}
.section-title h2 {
  text-transform: uppercase;
  font-weight: 600;
}
.section-title p {
  font-style: italic;
  color: #666;
}

/*--
	Header
--*/
header {
  background: #fff;
  padding: 1% 0;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 1%;
}
header .navbar-default {
  background: none;
  border: 0px;
}
header .navbar-default .navbar-nav {
  padding-top: 1%;
}
header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 1% 2.5%;
  font-size: 120%;
}
font header .navbar-default .navbar-nav li a:hover {
  color: #000;
}

/*--
	Simple Section
--*/
.simple {
  padding: 5% 0;
}
.simple .block h2 {
  padding-top: 2.5%;
  margin: 0;
}
.simple .block p {
  color: #7B7B7B;
  padding-top: 3%;
}
.simple .block img {
  padding-left: 6%;
  height: 100%;
}
.simple .section-title {
  margin-bottom: 0px;
}
.simple .section-title p {
  padding-top: 3%;
}

/*--
  Slider Section
--*/
.slider .block {
  color: #E3E3E4;
}
.slider .block h1 {
  font-weight: 100;
  font-size: 280%;
  line-height: 150%;
  letter-spacing: 0.25em;
  padding-bottom: 6%;
}
.slider .block p {
  font-size: 140%;
  line-height: 180%;
  font-weight: 300;
  letter-spacing: 0.15em;
}

/*--
	Grid Section
--*/
.grid {
  text-align: center;
  padding: 5% 0;
}
.grid .grid-item {
  padding-bottom: 10%;
}
.grid .grid-item h4 {
  padding-top: 7%;
  margin: 0;
  color: #666;
}
.grid .grid-item p {
  color: #888;
  padding-top: 4%;
  margin: 0;
  font-size: 90%;
  line-height: 1.8;
}

/*--
	Form Section
--*/
.form .section-title {
  margin-bottom: 2%;
}

.contact-form {
  padding-top: 6%;
  padding-bottom: 3%;
}
.contact-form .block button {
  width: 100%;
  height: 40%;
  background: #47424C;
  border: none;
  color: #fff;
  font-size: 120%;
}
.form h2 {
  padding-bottom: 2%;
  margin: 0;
}

.modal {
  color: black;
}
/*--
	Scroll Section
--*/
.scroll {
  background-position: 50% 94px;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 100px 0;
}
.scroll h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
.scroll p {
  color: #8d8f92;
  margin-bottom: 20px;
}
.scroll .btn-call-to-action {
  background: #655E7A;
  color: #fff;
  padding: 10px 20px;
}

/*--
	Carousel Section
--*/
.carousel {
  padding-top: 5%;
  padding-bottom: 4%;
}
.carousel .carousel-img {
  padding: 0px 10%;
}

/*--
	Footer Section
--*/
footer {
  background: #F5F5F5;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}
footer a {
  color: #595959;
}
footer .footer-menu {
  padding-bottom: 25px;
}
footer .footer-menu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-menu ul li {
  display: inline-block;
  padding: 0px 20px;
}
footer .footer-menu ul li a {
  display: inline-block;
  color: #494949;
}
footer .footer-menu ul li a:hover {
  color: #000;
}
