<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ .Site.Params.call.title }}</h2>
          <p>{{ .Site.Params.call.paragraph }}</p>
          {{ with .Site.Params.call.button }}
          <a class="btn btn-default btn-call-to-action" href="{{ .url }}" >{{ .text }}</a>
          {{ end }}
          {{ if .Site.Params.contact.enable }}
            {{ partial "form.html" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>