<!-- START carousel.html -->
<section id="clients-logo-section" style="background-color: {{ .backgroundcolor }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .title }}</h2>
            <p>{{ .subtitle }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            {{ range .logos }}
            <div class="clients-logo-img">
              {{ if .url }}
                <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="{{ .image }}"></a>
              {{ else }}
                <img src="{{ $.Site.BaseURL }}{{ .image }}" alt="{{ .image }}">
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END carousel.html -->