<!-- START carousel.html -->
{{ $styling := "" }}
{{ if .backgroundcolor }}
  {{ $styling = .backgroundcolor | printf "background-color: %s; " }}
{{ end }}
{{ if .backgroundimage }}
   {{ $styling = .backgroundimage | printf "%s background: url(%s) no-repeat; background-size: cover;" $styling }}
{{ end }}
<section class="carousel" style="{{ $styling | safeCSS }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ i18n .title_i18n }}</h2>
            <p>{{ i18n .subtitle_i18n }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="owl-carousel">
            {{ range .logos }}
            <div class="carousel-img">
              {{ if .url }}
                <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="{{ .image }}"></a>
              {{ else }}
                <img src="{{ $.Site.BaseURL }}{{ .image }}" alt="{{ .image }}">
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END carousel.html -->