{{ $styling := "" }}
{{ if .backgroundcolor }}
  {{ $styling = .backgroundcolor | printf "background-color: %s; " }}
{{ end }}
{{ if .backgroundimage }}
   {{ $styling = .backgroundimage | printf "%s background: url(%s) no-repeat; background-size: cover;" $styling }}
{{ end }}
<section class="scroll" style="{{ $styling | safeCSS }}">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2 class="text-uppercase">{{ i18n .title_i18n }}</h2>
      <div>
      	{{ i18n .content_i18n | markdownify }}
      </div>
      {{ with .button }}
      	<a href="{{ .url }}" class="btn btn-call-to-action">{{ i18n .caption_i18n }}</a>
      {{ end }}
    </div>
  </div>
</div>
</section>